body{
    margin:20px 0;
}

a{ 
    color: #888;
    font-weight: 700;
}
a:hover{ 
    color: #333;
    text-decoration: none;
}
/**
    header stuff
**/

#site-title{
    font-size: 4.8em;
    text-transform: uppercase;
    font-family: serif;
    font-weight: 100;
}

#navigation {
    margin-bottom: 10px
}
#navigation  #links{
    margin: 0;
}
#navigation  .link{
    list-style-type: none;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: serif;
    font-weight: 100;
    float: left;
    font-size: 1.2em;
}
#navigation  .link:first-child{padding-left: 0}

#navigation  .link a{
    color: #888;
    font-weight: 700;
}
#navigation  .link a:hover{ 
    color: #333;
    text-decoration: none;
}
#navigation .contact-info{
    text-align: right;
    font-style: italic;
    font-family: serif;
    color: #888;
    font-weight: 700;
    font-size: 1.0em;
}
#navigation .contact-info .subscribe-link{
    font-style:normal;
    text-transform: uppercase;
    font-family: serif;
    font-weight: 100;
    color: #333;

    display: inline-block;
    margin-top: 5px;
}

#footer{
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #888;
    text-align: center;
}

.hover-fade:hover{ 
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/****************************************************
    index.php
****************************************************/
#index-pagination {
    border-top: 1px solid #888;
    margin-top: 10px;
    padding-top: 10px
}

.post-title{
    color: #993333;
    font-family: serif;
    font-weight: 100;
}

.post-date{
    color: #aaa;
    font-family: serif;
    font-weight: 100;
}

.post-read-more{
    text-align:right;
}

.post-read-more a{
    color: #339999;
    font-family: serif;
    font-weight: 100;
}

.post-custom-field{
    text-transform: uppercase;
    font-family: serif;
    font-weight: 700;
}


/****************************************************
    archive.php
****************************************************/
.archive-header{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #888; 
}
.excerpt{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #888;
}
.excerpt .post-title{
    font-size: 2.0em;
    line-height: 1.2em;
    display: inline-block;
    margin-bottom: 5px;
	color: #333;
}
.excerpt .name-of-wine{
}
.excerpt .excerpt-header {
    color: #888;
    margin-bottom: 5px;
}
.excerpt .excerpt-header .categories{
    text-transform: uppercase;
    font-weight: 700;
}
.excerpt .excerpt-header .date-time{
    font-size: 0.8em;
}
.excerpt .read-more{
    color: #336699;
}
.pagination{
    text-align: center;
}

/****************************************************
    single.php
****************************************************/
#article-banner{
    margin-bottom: 20px;
}
#header-meta{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
    
    text-align: center;
}
#byline{
    font-size: 0.8em;
    color: #aaa;
}
#sharing{
    margin-top: 10px;
}
#sharing li{
    display: inline;
    list-style-type: none;
    padding: 0 5px;
}
#purchase-link{
    /*font-family: "Georgia", serif; */
    color: #0088cc;
    text-decoration: underline;
    font-size: 1.2em;
}
#purchase-link:hover{
    color: #005580;
    text-decoration: none;
}
#twitter-icon, #facebook-icon{
    width: 40px;
    opacity: 0.8;
}
#twitter-icon:hover, #facebook-icon:hover{
    opacity: 0.9;
}
h1.title{
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
h3.subtitle{
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 22px;
    text-rendering: optimizeLegibility;
}

#purchase-link{
    color: #336699
}

p{ /*
    font-family: "Georgia", serif;
    line-height: 1.8em; */
}

#related-posts{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 5px 0;
    padding: 5px 0;
}
#related-posts .span3:first-child{ margin-left:0; }

/****************************************************
    sidebar.php
****************************************************/
#sidebar h3{
    font-size: 18px;
    line-height: 24px;
    /*font-family: "Georgia", serif*/
}
#sidebar li{
    max-width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}