
a{ 
    color: #888;
    font-weight: 700;
}
a:hover{ 
    color: #333;
    text-decoration: none;
}
/**
    header stuff
**/

#navigation {
    border-bottom: 1px solid #888;
    margin-bottom: 10px
}
#navigation  #links{
    margin: 0;
}
#navigation  .link{
    list-style-type: none;
    padding: 5px 10px;
    text-transform: uppercase;
}
#navigation  .link.nav-link { float: left }
#navigation  .link.social-link { float: right }
#navigation  .link a{
    color: #888;
    font-weight: 700;
}
#navigation  .link a:hover{ 
    color: #333;
    text-decoration: none;
}

#logo-banner{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
}

#footer{
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #888;
    text-align: center;
}

/****************************************************
    index.php
****************************************************/
#featured-post{
    text-align: right;
}
#featured-post-title{
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 2.0em;
    
    display:block;
    margin-bottom: 20px;
}
.tiles{
    margin-bottom: 30px;
}
.tile{
    text-align: right;
}
.tile-title{
    text-transform: uppercase;
    color: #888;
    font-weight: 700;
    
    display: block;
    max-width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.tile-title:hover{ 
    color: #333;
    text-decoration: none;
}


/****************************************************
    single.php
****************************************************/
#article-banner{
    margin-bottom: 20px;
}
#header-meta{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #888;
    
    text-align: center;
}
#byline{
    font-size: 0.8em;
    color: #ccc;
}
#sharing{
    margin-top: 20px;
}
#sharing li{
    display: inline;
    list-style-type: none;
    padding: 0 5px;
}
#purchase-link{
    /*font-family: "Georgia", serif; */
    color: #0088cc;
    text-decoration: underline;
    font-size: 1.2em;
}
#purchase-link:hover{
    color: #005580;
    text-decoration: none;
}
#twitter-icon, #facebook-icon{
    width: 40px;
    opacity: 0.8;
}
#twitter-icon:hover, #facebook-icon:hover{
    opacity: 0.9;
}
h1.title{
    margin-bottom: 0px;
    font-size: 28px;
    line-height: 32px;
    /*font-family: "Georgia", serif;*/
    font-weight: bold;
    text-rendering: optimizeLegibility;
}
h3.subtitle{
    margin-bottom: 0px;
    font-size: 20px;
    line-height: 24px;
    /*font-family: "Georgia", serif;*/
    text-rendering: optimizeLegibility;
}

#purchase-link{
    color: #336699
}

p{ /*
    font-family: "Georgia", serif;
    line-height: 1.8em; */
}

#related-posts{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 5px 0;
    padding: 5px 0;
}
#related-posts .span3:first-child{ margin-left:0; }

/****************************************************
    sidebar.php
****************************************************/
#sidebar h3{
    font-size: 18px;
    line-height: 24px;
    /*font-family: "Georgia", serif*/
}
#sidebar li{
    max-width: 350px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}