body{
    margin:20px 0;
}

a{ 
    color: #888;
    font-weight: 700;
}
a:hover{ 
    color: #333;
    text-decoration: none;
}
.alignleft{
    float:left;
    padding-right: 10px;
}
.alignright{
    float:right;
    padding-left: 10px;
}
/**
    header stuff
**/

#site-title{
    font-size: 4.0em;
    text-transform: uppercase;
    font-family: 'Times New Roman', serif;
    font-weight: 100;
}

#navigation {
    margin-bottom: 10px
}
#navigation  #links{
    margin: 0;
}
#navigation  .link{
    list-style-type: none;
    padding: 5px 10px;
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    font-weight: 100;
    float: left;
    font-size: 1.5em;
}
#navigation  .link:first-child{margin-left: -45px}

#navigation  .link a{
    color: #888;
    font-weight: 700;
}
#navigation  .link a:hover{ 
    color: #333;
    text-decoration: none;
}
#navigation .contact-info {
    text-align: right;
}
#navigation .contact-info span, #navigation .contact-info a {
    font-family: 'Georgia', serif;
    color: #999;
    font-weight: 100;
    font-size: 1.0em;
}
#navigation .contact-info .subscribe-link{
    font-style:normal;
    text-transform: uppercase;
    font-family: serif;
    font-weight: 100;
    color: #990000;

    display: inline-block;
    margin-top: 5px;
}
#navigation .contact-info .subscribe-link:hover{
    text-decoration: underline;
}

#footer{
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #888;
    text-align: center;
}

.hover-fade:hover{ 
    opacity: 0.8;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

/****************************************************
    index.php
****************************************************/
#index-pagination {
    border-top: 1px solid #888;
    margin-top: 10px;
    padding-top: 10px
}

.page-title{
    text-transform: uppercase;
    font-family: 'Georgia', serif;
    font-size: 1.8em;
}

.post{
    margin-bottom: 30px;
}

.post-title{
    color: #993333;
    font-family: serif;
    font-weight: 100;
}

.post-date{
    color: #aaa;
    font-family: serif;
    font-weight: 100;
    font-size: 0.9em;

    display: block;
    margin-top: -2px;
}

.post-preview{
    font-family: 'Georgia', serif;
}

.post-read-more{
    text-align: right;
    margin-bottom: 10px;
}

.post-read-more a{
    color: #006699;
    font-family: serif;
    font-weight: 100;
    font-style: italic;
}

.post-custom-field{
    text-transform: uppercase;
    font-family: serif;
    font-weight: 700;
}

.post-custom-field-value{
    color: #333;
}

a.post-custom-field-value:hover{
    color: #888;
}


/****************************************************
    archive.php
****************************************************/
.archive-header{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #888; 
}
.excerpt{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom:1px solid #888;
}
.excerpt .post-title{
    font-size: 2.0em;
    line-height: 1.2em;
    display: inline-block;
    margin-bottom: 5px;
	color: #333;
}
.excerpt .name-of-wine{
}
.excerpt .excerpt-header {
    color: #888;
    margin-bottom: 5px;
}
.excerpt .excerpt-header .categories{
    text-transform: uppercase;
    font-weight: 700;
}
.excerpt .excerpt-header .date-time{
    font-size: 0.8em;
}
.excerpt .read-more{
    color: #336699;
}
.pagination{
    text-align: center;
}

/****************************************************
    single.php
****************************************************/
#byline{
    font-size: 0.8em;
    color: #aaa;
}

p{ /*
    font-family: "Georgia", serif;
    line-height: 1.8em; */
}

#related-posts{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    margin: 5px 0;
    padding: 5px 0;
}
#related-posts .span3:first-child{ margin-left:0; }

/****************************************************
    sidebar.php
****************************************************/

li.widget{
    list-style-type: none;
    margin-bottom: 20px;
}
h2.widgettitle{
    font-family: serif;
    text-transform: uppercase;
    font-size: 1.2em;

    border-top: 2px solid #888;
    padding-top: 5px;
    margin-top: 20px;
}
h2.widgettitle:first-child{
    margin-top: 0;
}

.widget h3{
    font-size: 1.0em;
    text-transform: uppercase;
    font-family: 'Times New Roman', serif;
}

#sidebar a{
    color: #006699;;
}

#sidebar a:hover{
    text-decoration: underline;
}

#sidebar .lead{
    font-size: 1.0em;
    color: #888;
    font-style: italic;
    font-family: 'Georgia', serif;
}

#sidebar .key{
    font-family: serif;
    text-transform: uppercase;
    font-size: 1.1em;
    color: #888;
}

/****************************************************
    responsive
****************************************************/

/* Large desktop */
@media (min-width: 1200px) { 

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px) {
    #header{
        text-align: center;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}